<div class="row">
  <div class="center jumbotron col-md-8">
    <h1>Shopping Web</h1>
    <h2>
      This is the homepage for the <%= link_to "Shopping Web", "https://github.com/DiamondDat/shopping_web"  %>
    </h2>

    <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
  <div class="col-md-4">
    <%= render 'shared/top_products', top_products: @top_products %>
  </div>
</div>
