<footer class="footer">
  <small>
    The <%= link_to "Shopping Web", "https://github.com/DiamondDat/shopping_web" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News",    "https://github.com/DiamondDat/shopping_web" %></li>
    </ul>
  </nav>
</footer>
